@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42;
  /* slate-900 */
  --background-rgb: 248, 250, 252;
  /* slate-50 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}